<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.rcpapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.starterkit.rcpapp.Perspective"
            id="com.starterkit.rcpapp.perspective">
      </perspective>
      <perspective
            class="com.starterkit.rcpapp.bookperspective.BookPerspectiveFactory"
            id="com.starterkit.rcpapp.zooperspective"
            name="Zoo">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.starterkit.rcpapp.views.BookTableView"
            id="com.starterkit.rcpapp.view">
      </view>
      <view
            class="com.starterkit.rcpapp.views.BookMenuViewPart"
            id="com.starterkit.rcpapp.bookmenuview"
            name="BookMenu"
            restorable="true">
      </view>
      <view
            class="com.starterkit.rcpapp.views.BookAddView"
            id="com.starterkit.rcpapp.addbookview"
            name="AddBook"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.rcpapp.zooperspective">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.starterkit.rcpapp.view">
         </view>
         <view
               id="com.starterkit.rcpapp.bookmenuview"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="com.starterkit.rcpapp.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="BookMenu">
            <command
                  commandId="com.starterkit.rcpapp.addbookcommand"
                  label="Add a book"
                  style="push">
            </command>
            <command
                  commandId="com.starterkit.rcpapp.booktablecommand"
                  label="Open book table view"
                  style="push">
            </command>
            <command
                  commandId="com.starterkit.rcpapp.bookmenucommand"
                  label="Open book menu view"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="SingHandler"
            commandId="com.starterkit.rcpapp.addbookcommandhandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="cat"
            categoryId="org.eclipse.gef.category.view"
            defaultHandler="com.starterkit.handlers.AddBookHandler"
            id="com.starterkit.rcpapp.addbookcommand"
            name="AddBook">
      </command>
      <command
            category="cat"
            categoryId="org.eclipse.gef.category.view"
            defaultHandler="com.starterkit.handlers.BooksTableHandler"
            id="com.starterkit.rcpapp.booktablecommand"
            name="OpenBookTable">
      </command>
      <command
            category="cat"
            categoryId="org.eclipse.gef.category.view"
            defaultHandler="com.starterkit.handlers.BooksMenuHandler"
            id="com.starterkit.rcpapp.bookmenucommand"
            name="OpenBookMenu">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.starterkit.rcpapp.application"
            name="StarterKitRCPKucin">
         <property
               name="appName"
               value="StarterKitRCPKucin">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.starterkit.rcpapp.application"
            name="StarterKitApp">
         <property
               name="appName"
               value="StarterKitApp">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
